@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}

:root {
    --tamanho-header: 80px;
    --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-footer: 65px;
  }
  
  .container {
    display: flex;
    width: 80%;
    margin: auto;
  }
  
  .header {
    height: var(--tamanho-header);
    border-bottom: 2px solid red;
  }
  
  .header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .header a {
    text-decoration: none;
    color: black;
  }
  
  .agora {
    font-weight: 800;
  }
  
  .navbar {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: black;
  }
  
  .titulo{
    width: fit-content;
    font-weight: 500;
    width: 210px;
    height: 210px;
  }
  
  .header h1 {
    margin: 0;
  }

  .banner {
    height: var(--tamanho-banner);
    color: white;
    background-image: url('PlanodeFundo.png');
    background-size: cover;
    align-items: center;
    display: flex;
  }
  
  .banner .container {
    justify-content: right;
    align-items: center;
    height: 100%;
    padding-right: 20%;
  }
    
  .banner .container b  {
    color: red;
  }

  .carousel {
    position: relative;
    max-width: 800px;
    margin: 50px auto;
    overflow: hidden;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-inner img {
    width: 100%;
    height: auto;
  }
  
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
  }
  
  .carousel-control.prev {
    left: 10px;
  }
  
  .carousel-control.next {
    right: 10px;
  }
  .slide {
    position: relative;
  }
  
  .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 14px;
  }

  .titulo-jogadores{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
  }
  .slider {
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.sobre {
  background-color: black;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
}

.cadastro {
  justify-content: center;
  align-items: center;
  background-color: black;
  display: flex;
}

.login .container {
  justify-content: center;
   background-size: cover;
  height: 75vh;
  align-items: center;
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 450px;
  border-radius: 7px;
  border: 2px solid black;
  justify-content: center;
  display: flex;
  align-items: center;
}

.card h2 {
  color: red;
}

.card img {
  width: 60%;
  height: 60%;
}
.campo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
}

.campo input {
  width: 200px;
  padding: 7px 15px;
  border: 2px solid black;
}

.formulario button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  justify-content: center;
  display: flex;
  align-items: center;
}

.header a {
  text-decoration: none;
  color: red;
}

.footer {
  height: 100px;
  background-color: black;
}

.footer .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer .container p {
  color: #fff;
}
.form-control {
  margin: 20px;
  background-color: #ffffff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 25px;
  border-radius: 8px;
}
.title {
  font-size: 28px;
  font-weight: 800;
}
.input-field {
  position: relative;
  width: 100%;
}

.input {
  margin-top: 15px;
  width: 100%;
  outline: none;
  border-radius: 8px;
  height: 45px;
  border: 1.5px solid #ecedec;
  background: transparent;
  padding-left: 10px;
}
.input:focus {
  border: 1.5px solid #2d79f3;
}
.input-field .label {
  position: absolute;
  top: 25px;
  left: 15px;
  color: #ccc;
  transition: all 0.3s ease;
  pointer-events: none;
  z-index: 2;
}
.input-field .input:focus ~ .label,
.input-field .input:valid ~ .label {
  top: 5px;
  left: 5px;
  font-size: 12px;
  color: #2d79f3;
  background-color: #ffffff;
  padding-left: 5px;
  padding-right: 5px;
}
.submit-btn {
  margin-top: 30px;
  height: 55px;
  background: #f2f2f2;
  border-radius: 11px;
  border: 0;
  outline: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  background: linear-gradient(180deg, #363636 0%, #1b1b1b 50%, #000000 100%);
  box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #000000;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
}

.submit-btn:hover {
  box-shadow: 0px 0px 0px 2px #ffffff, 0px 0px 0px 4px #0000003a;
}


    